
hr {
    border-color: #003153;
    overflow: hidden;
}

h1.jumbotron {
    background-color: #003153;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
}

button.github:hover {
    background-color: green;

}

h2 {
    text-align: center;
}

strong {
    text-align: center;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

strong {
    color: #7fffd4;
}

h1 strong {
    color: #7fffd4;
}

div.jumbotron div.jumbotron-container {
    text-align: center;
}

div.jumbotron {
    margin-bottom: 0px;
}

div.jumbotron {
    background: #003153;
    .experience {
        background: #003153;
        text-shadow: 3px 3px 1px #003153;
    }

    #education {
        color: #003153;
        display: block;
        font-weight: 700;
        font-size: 10px;
        text-shadow: 3px 3px 1px #003153;
        text-align: center;
        border: 0.5rem outset pink;
        outline: 0.5rem outset khaki;
        box-shadow: 0 0 0 2rem skyblue;
        border-radius: 12px;
        margin: 2rem;
        padding: 1rem;
        outline-offset: 0.5rem;
        font-family: Nimbus Sans;
        letter-spacing: .035rem;
        line-height: 1.2;
        width: auto;
    }

        .projects {
            font-family: mononoki NF;
            font-weight: 900;
            letter-spacing: .035rem;
            line-height: 1.2;
            text-align: center;
            color: rgb(114, 255, 114);
        }

        .volunteering {
            font-family: mononoki NF;
            font-weight: 900;
            letter-spacing: .035rem;
            line-height: 1.2;
            color: #003153;
            display: block;
            text-shadow: 3px 3px 1px #003153;
            text-align: center;
            border: 0.5rem outset pink;
            outline: 0.5rem outset khaki;
            box-shadow: 0 0 0 2rem skyblue;
            border-radius: 12px;
            margin: 2rem;
            padding: 1rem;
            outline-offset: 0.5rem;
        }

        .contact {
            font-family: mononoki NF;
            font-style: regular;
            font-size: 16px;
            letter-spacing: .035rem;
            line-height: 1.2;
            text-align: center;
            color: #003153;
            display: block;
            text-shadow: 3px 3px 1px #003153;
            border: 0.5rem outset pink;
            font-weight: 900;
            margin: 2rem;
            padding: 1rem;
            outline-offset: 0.5rem;
            padding-bottom: 20px;
        }
